{% extends 'admin/base.admin.html.twig' %}

{% block adminTitle %}Edit user{% endblock %}

{% block adminBody %}
        
    <h2>Edit user</h2>
    
    {{ include('admin/user/userForm.html.twig', {'form': form, 'editFlag': 1}) }}
                  
{% endblock %}
