{% extends 'admin/base.admin.html.twig' %}

{% block adminTitle %}Add user{% endblock %}

{% block adminBody %}
        
    <h2>Add user</h2>
    
    {{ include('admin/user/userForm.html.twig', {'form': form, 'editFlag': 0}) }}
                  
{% endblock %}
