{% extends 'base.html.twig' %}

{% block title %}openNetworkHMI main page{% endblock %}

{% block body %}

<div class="alert alert-primary" role="alert">
    openNetworkHMI main page
</div>
        
{% endblock %}
