{% extends 'admin/base.admin.html.twig' %}

{% block adminTitle %}Add tag{% endblock %}

{% block adminBody %}

    <h2>Add new tag</h2>
    
    {{ include('admin/tags/tagsForm.html.twig', {'form': form}) }}
                  
{% endblock %}
