{% extends 'admin/base.admin.html.twig' %}

{% block adminTitle %}Edit tag{% endblock %}

{% block adminBody %}
        
    <h2>Edit tag</h2>
    
    {{ include('admin/tags/tagsForm.html.twig', {'form': form}) }}
                  
{% endblock %}
