{% extends 'admin/base.admin.html.twig' %}

{% block adminTitle %}Add alarm{% endblock %}

{% block adminBody %}
        
    <h2>Add alarm definition</h2>
    
    {{ include('admin/alarm/alarmForm.html.twig', {'form': form}) }}
                  
{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('js/admin/alarms/alarmForm.js') }}"></script>
{% endblock %}