{% extends 'admin/config/base.config.html.twig' %}

{% block adminConfigTitle %}Add driver connections{% endblock %}

{% block adminConfigBody %}
    
    <br />
    
    {% if drvType == 0 %}
        
        <h2>Add SHM connection</h2>
        {{ include('admin/config/configDriverSHMForm.html.twig', {'form': form}) }}
        
    {% elseif drvType == 1 %}
            
        <h2>Add Modbus connection</h2>
        {{ include('admin/config/configDriverModbusForm.html.twig', {'form': form}) }}
        
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    {% if drvType == 1 %}
        <script type="module" src="{{ asset('js/admin/config/driverModbusForm.js') }}"></script>
    {% endif %}
{% endblock %}